/* JavaFX CSS */
.root {
    -fx-font-size: 14px;
    -fx-font-family: EHUSans;
    -fx-background-color: black;
    /* -fx-background-color: #71D4E9; */
}

#titleLabel{
    -fx-font-size: 64px;
}

#subText{
    -fx-font-size: 24px;
}

Label {
    -fx-font-family: EHUSans;
    -fx-text-alignment: CENTER;
    -fx-text-fill: white;			
}